body{
   background-color: black;
   text-align:center;
}
h1{
   color:gold;
}
h2{colOr:gold;
}
p{color:white;
}
li{color:white;
}
p{font-weight:200;
}
h1{font-size: large;
font-style:itali;
}
.imagens.jpeg{wided:40%;
}