body{
   background-color: black;
   text-align:center;
}
h1{font-size:larger;
}
   h1{color:gold;
   }
 h2{font-size:larger;
}  
h2{colOr:gold;
}
p{color:white;
}
li{color:white;
}
p{font-weight:200;
}
h3{color:gold;
}
h3{font-size:larger;
}
h1{font-size: large;
font-style:italic;
}
.imagens.jpeg{width:50%;
}
.explicação {
   color:yellow
}